<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css"/>
        <link rel="stylesheet" href="css/search-style.css"/>
        <link rel="stylesheet" type="text/css" href="css/table-style.css"/>
        <title>Railway Network</title>
    </head>
    <body>
        <h1>Network Rail API</h1>
        <form class="form-wrapper cf">
  	        <input type="text" name="searchQuery" id="searchQuery" placeholder="Search here..." required>
	        <button id="submitSearch" type="submit">Search</button>
        </form>
        <h1>Departure Board</h1>
        <section id="departureBoard">
            <div class="container deptBoard">
                <div class="row">
                    <table class="bordered">
                        <tr>
                            <th data-field="locName">Origin:</th>
                            <th data-field="destName">Destination</th>
                            <th data-field="schDepartTime">Time:</th>
                            <th data-field="platform">Platform</th>
                            <th data-field="estDepartTime">Expt</th>
                        </tr>
                            <td>
                                <div id="loc"></div> 
                            </td>
                            <td> 
                                <div id="dest"></div>
                            </td>
                            <td>
                                <div id="sch"></div> 
                            </td>
                            <td> 
                                <div id="plat"></div>
                            </td>
                            <td>
                                <div id="est"></div>
                            </td>         
                    </table>
                </div>
            <div>
        </section>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/departureBoard.js"></script>
    </body>
</html>