<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Railway Network</title>
    </head>
    <body>
        <h1>Network Rail API</h1>
        <div class="container">
            <div class="row">
                <div class="col s2">
                    <h3>Time</h3>
                </div>
                <div class="col s4">
                    <h3>Destination</h3>
                </div>
                <div class="col s3">
                    <h3>Platform</h3>
                </div>
                <div class="col s3">
                    <h3>Expected</h4>
                </div> 
            </div>
        <div>
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
    </body>
</html>