<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/materialize.css">
        <title>Railway Network</title>
    </head>
    <body>
        <h1>Network Rail API</h1>
        
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
    </body>
</html>