<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">National Rail API</h1>
            <div class="row center">
                <% include register.js %>
            </div>
        </div>
    </div>
</div>